<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Task Planner</h1>
  </header>
  <main>
    <div>
      <form action="/tasks" method="POST" autocomplete="off">
        <input type="date">
        <input type="text" name="text" placeholder="Enter task...">
        <select>
          
        </select>

    <button type="submit">Add Task</button>
  </form>
</div>
</main>
</body>
</html>