<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Task Planner</h1>
  </header>
  <main>
    <div>
      <h2>New Task</h2>
      <form action="/tasks" method="POST" autocomplete="off">
        <input type="date" name="date">
        <input type="text" name="detail" placeholder="Enter task...">
        <select name="type">
          <option value="Low-priority">"Low-Priority"</option>
          <option value="Intermediate-priority">"Intermediate-Priority"</option>
          <option value="High-priority">"High-Priority"</option>
        </select>
        <button type="submit">Add Task</button>
      </form>
    </div>
  </main>
</body>
</html>